.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.welcome {
  background-image: url("../src/assets/images/wallpaper2.png");
  background-size: cover;
  width: 100%;
  min-height: 93.8vh;
  max-height: 100vh;
}

.welcome-overlay {
  position: relative;
}

.welcome-overlay:before {
  background: rgba(37, 35, 35, 0.1);
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  content: " ";
  display: block;
}

.title {
  font-size: 2em;
  color: white;
  line-weight: 1px;
  text-shadow: 2px 2px gray;
  margin-top: 30%;
  letter-spacing: 3px;
  /* font-weight: ; */
}

.feature-title {
  font-size: 1.5em;
  font-weight: 600;
  margin: 1vh 0 1vh 0;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  width: 100%;
  height: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}

.skeleton-text:last-child {
  margin-bottom: 0;
  width: 50%;
}

.btn-back{
  font-size: 1.25em;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
